{% extends 'base.html' %} {% load static %} {% block content %}
<section class="hero">
  <h1>Giới Thiệu</h1>
  <p>
    Khám phá hành trình và mục tiêu của chúng tôi trong việc mang đến sự bình
    yên thông qua thiền thở.
  </p>
</section>
<section class="content">
  <h2>Chào mừng bạn đến với Hướng Dẫn Thiền Thở</h2>
  <p>
    Chúng tôi là một cộng đồng tận tâm trong việc hỗ trợ các cá nhân tìm kiếm sự
    cân bằng và bình yên trong cuộc sống thông qua thiền thở. Thiền thở không
    chỉ là một phương pháp giảm căng thẳng mà còn là một công cụ mạnh mẽ để nâng
    cao nhận thức và cải thiện chất lượng cuộc sống.
  </p>

  <h2>Mục tiêu của chúng tôi</h2>
  <ul>
    <li>Hướng dẫn các kỹ thuật thiền thở cơ bản và nâng cao.</li>
    <li>Giúp bạn xây dựng thói quen lành mạnh, cân bằng trong cuộc sống.</li>
    <li>Tạo ra một không gian hỗ trợ và động viên giữa các thành viên.</li>
  </ul>

  <h2>Lý do chọn chúng tôi</h2>
  <p>
    Với đội ngũ chuyên gia nhiều kinh nghiệm và tài liệu phong phú, chúng tôi
    cam kết đồng hành cùng bạn trên hành trình khám phá bản thân. Hãy tham gia
    cùng chúng tôi và trải nghiệm sự thay đổi tích cực ngay hôm nay!
  </p>

  <h2>Liên hệ</h2>
  <p>
    Để biết thêm thông tin hoặc tham gia chương trình, hãy liên hệ với chúng tôi
    qua:
  </p>
  <ul>
    <li>Email: info@thientho.vn</li>
    <li>Hotline: 0123456789</li>
  </ul>
</section>
{% endblock content %}
